body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

h1 {
    margin-bottom: 20px;
}

#map-container {
    margin: 20px 0;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 5px;
    display: block;
}

#search-input {
    margin-top: 10px;
    padding: 5px;
    width: 100%;
}
